@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{/*padronizando a utilização das cores e fontes*/
    --cor--primaria: #0F0E0E;
    --cor--secundaria: #EEEEEE;
    --cor--terciaria: #8B9A46;
    --cor--hover:#541212;

    --font--principal:'Krona One', sans-serif;
    --font--secundaria:'Montserrat', sans-serif;
}

*{ /*css reset, ou seja, limpa toda a estilização do navegador*/
    margin: 0;
    padding: 0;
    
}

body{
    /* height:100vh; */
    background-color: var(--cor--primaria); /*define a cor de fundo do site*/
    color: var(--cor--secundaria); /* define a cor do texto*/
}
.cabecalho{
    padding: 2% 0% 0% 15%; /*define o espaçamento externo*/

}

.cabecalho__menu{
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link{
    font-family: var(--font--secundaria);
    font-size: 1.5rem;
    font-weight: 600; /*peso da fonte*/
    color: var(--cor--terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; /*justificando o conteúdo*/
    gap: 42px;

}

.apresentacao__conteudo{
    width: 50%; /*definindo a largura da seção assim ela se adapta em caso de mexer np tamanho*/
    display: flex;
    flex-direction: column;
    gap: 40px; /*esapaçamento entre linhas e colunas*/

}
.apreentacao__conteudo__titulo{
    font-size: 2.25rem; /*alterando o tamanho da fonte*/
    font-family:var(--cor--primaria);
}

.titulo-destaque{
    color: var(--cor--terciaria);
}

.apreentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font--secundaria); /*personalização da font, utilizando o google fonts*/

}

.apresentacao__links{
    display: flex;/* sempre que utilizar o flexbox tem que colocar essa propriedade*/
    flex-direction: column; /*colocando o h2(Acesse minhas redes:) em forma de coluna*/
    justify-content:space-between ;
    align-items: center;/*centralizando*/
    gap: 32px; /*dando um espaçamento entre os botões*/
    
}

.apresentacao__links__subtitulo{
    font-family: var(--font--principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link{
    display: flex; /* adicionado para posicionar os icones e texto*/
    justify-content: center;
    gap: 16px; /*dando um espaçamento entre o texto e o icone*/
    width: 50%;
    text-align: center;/*centralizando o texto*/
    border-radius: 8px; /*dando um arredondamento na borda*/
    font-size: 1.5rem;
    padding: 21.5px 0;/*o primeiro valor do eixo vertical*/
    text-decoration: none; /*retirando o underline do link*/
    color: var(--cor--secundaria);
    border: 2px solid var(--cor--terciaria); /*colocando a borda azul*/
    font-family: var(--font--secundaria);
}

.apresentacao__links__link:hover{/*estilizando a cor do botão ao passar o mouse*/
   background-color:var(--cor--hover);
   
}

.apresentacao__imagem{
    width: 50%;
}


.rodape{
    padding: 24px;/*aumentando o tamanho da listra*/
    color: var(--cor--primaria);
    background-color: var(--cor--terciaria);
    text-align: center;
    font-family: var(--);/*configurando a fonte*/
}

.apresentacao__conteudo__texto{
    text-decoration: none;
    color:var(--cor--terciaria);
}

@media(max-width: 1200px){/* é usada para aplicar estilos diferentes a diferentes tipos de mídia/dispositivos.*/
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;/*definindo a largura da seção*/
    }
}